
<html>
    <body style="text-align: center;">
        <h2>Enter the user details</h2>
        <form method="POST" action="/newuser">
            <label for="">name</label>
            <input type="text" name="name" id=""><br>
            <label for="">city</label>
            <input type="text" name="city" id=""><br>
            <label for="">mobile</label>
            <input type="number" name="mobile" id=""><br>
                        
            <input type="submit">
        </form>
    </body>
</html>
